
<footer id="footer">
  <a href=""><i class="fab fa-twitter fa-2x icons" href=""></i></a>
  <a href=""><i class="fab fa-linkedin fa-2x icons" href=""></i></a>
  <a href=""><i class="fas fa-envelope fa-2x icons" href=""></i></a>
  <p>Made with<i class="fas fa-heart"></i>by Lakshay Almadi</p>
</footer>
</body>
</html>
