
<footer id="footer">
  <a href="https://github.com/lakshayalmadi"><i class="fab fa-github   fa-2x icons"></i></a>
  <a href="https://www.linkedin.com/in/lakshayalmadi/"><i class="fab fa-linkedin fa-2x icons" ></i></a>
  <a href="mailto:lakshay.almadi.la@gmail.com"><i class="fas fa-envelope fa-2x icons" ></i></a>
  <p>Made with<i class="fas fa-heart"></i>by Lakshay Almadi</p>
</footer>
</body>
</html>
